.boat-section {
  display: flex;
  flex-direction: row;
  background-color: #f9f9f9;
  justify-content: center;
  align-items: center;
}

.main-image-container {
  flex: 1;
  padding: 0;
}

.boat-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.main-info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
  width: 100%;
  padding: 0 5rem;
}

.main-image-container,
.boat-description {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.main-image-container,
.boat-name {
  font-size: 2em;
  margin-bottom: 10px;
}

.boat-length,
.boat-location,
.boat-year,
.boat-price,
.boat-description {
  margin: 5px 0;
}

.boat-description {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: grey;

  white-space: pre-line; /* Preserve line breaks from the description text */
}

.survey-fee {
  color: grey;
  font-size: 0.8em;
  display: flex;

  justify-content: flex-start;
  width: 100%;
}

.survey-button {
  padding: 1rem 6rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.link-header {
  padding: 0;
}

.similar-category {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

@media (max-width: 1130px) {
  .boat-section {
    gap: 2rem;
  }

  .similar-boats-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
  }
  .main-info-container {
    padding: 0 1rem;
  }

  .main-image-container,
  .boat-description {
    font-size: 1.2rem;
  }

  .main-image-container,
  .boat-name {
    font-size: 1.5em;
  }

  .survey-button {
    padding: 1rem 3rem;
  }
}

@media (max-width: 850px) {
  .boat-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .main-info-container {
    padding: 0 0.5rem;
  }

  .main-image-container,
  .boat-description {
    font-size: 1.1rem;
  }

  .main-image-container,
  .boat-name {
    font-size: 1.3em;
  }

  .survey-button {
    padding: 0.8rem 2.5rem;
  }
}

@media (max-width: 500px) {
  .main-info-container {
    padding: 0;
  }

  .main-image-container,
  .boat-description {
    font-size: 1rem;
  }

  .main-image-container,
  .boat-name {
    font-size: 1.2em;
  }

  .survey-button {
    padding: 0.5rem 2rem;
  }

  .similar-boats-container {
    flex-direction: column;
    align-items: center;
  }
}
